.stats-section {
  width: 100%;
  padding: 120px 0;
  background: #0f1120;
  color: white;
  display: flex;
  justify-content: center;
}

.stats-container {
  width: 90%;
  max-width: 1300px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;

  text-align: center;
}

/* CARD */
.stat-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 35px 20px;
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 0 30px rgba(108, 99, 255, 0.25);
  transition: 0.35s;
}

.stat-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 35px rgba(108, 99, 255, 0.45);
}

/* Numbers */
.stat-number {
  font-size: 48px;
  font-weight: 700;
  color: #6C63FF;
  margin-bottom: 8px;
}

/* Label */
.stat-label {
  font-size: 18px;
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 900px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .stats-container {
    grid-template-columns: 1fr;
  }

  .stat-number {
    font-size: 38px;
  }
}
